  <h1 class="display-4" style="margin: 3% 20% 3% 20%;"> Lançamentos </h1>

  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 50%; margin: auto;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="carousel-item active active">
        <img src="../../../assets/img/scvi.jpg" alt="Soul Calibur VI" 
        style="width:700px;  
        height:350px; 
        filter: brightness(65%);">
        <div class="carousel-caption d-none d-md-block">
          <h5>SOULCALIBUR VI</h5>
          <p>Bandai Namco</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../../assets/img/rdr2.jpg" alt="Red Dead Redemption 2" 
        style="width:700px;  
        height:350px; 
        filter: brightness(65%);">
        <div class="carousel-caption d-none d-md-block">
          <h5>Red Dead Redemption 2</h5>
          <p>Rockstar</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../../assets/img/bo4.jpg" alt="Call of Duty: Black Ops 4" 
        style="width:700px;  
        height:350px;
        filter: brightness(65%);">
        <div class="carousel-caption d-none d-md-block">
          <h5>Call of Duty: Black Ops 4</h5>
          <p>Treyarch</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>