<div class="menu-container">
  <ul class="menu clearfix">
    <li>
      <a [routerLink]="['/']">Ash</a>
    </li>
    <li>
      <a [routerLink]="['../../jogos']" >Jogos</a>
      <!-- Nível 1 -->
      <!-- submenu -->
      <ul class="sub-menu clearfix">
        <li *ngFor="let genero of generos;">
          <a (click)="clickGenero(genero.id)"
             style="cursor:pointer;"
          >{{genero.nome}}</a>
        </li>
      </ul>
      <!-- submenu -->
    </li>

    <li>
      <a href="#">Contato</a>
    </li>

    <li class="liSearch" style="background-color: black;">  
      <form (ngSubmit)="onSubmit()" #searchJogo="ngForm">
      <input type="text"
       placeholder="Pesquisar" 
       [(ngModel)]="model.nomeJogo"
        #name="ngModel" 
        [ngModelOptions]="{standalone: true}"/>
       </form>
  </li>

  
      <a [routerLink]="['jogos/search', model.nomeJogo]"
      class="btn btn-primary font-weight-normal"
      style="text-transform: capitalize;
      display: inline-block;"
      (click)="onSubmit()">Pesquisar</a>

  
    <a [routerLink]="['jogos/new']"
    class="btn btn-primary font-weight-normal" 
    style="text-transform: capitalize;
    display: inline-block;">Cadastrar Jogo</a>
  
  </ul>
</div>