<div class="menu-container">
  <ul class="menu clearfix">
    <li>
      <a [routerLink]="['/']">Ash</a>
    </li>
    <li>
      <a href="#">Jogos</a>
      <!-- Nível 1 -->
      <!-- submenu -->
      <ul class="sub-menu clearfix">
        <li>
          <a href="#">Aventura</a>
        </li>
        <li>
          <a href="generos/luta.html">Luta</a>
        </li>
        <li>
          <a href="#">FPS</a>
        </li>
        <li>
          <a href="#">RPG</a>
        </li>
        <li>
          <a href="#">MMO</a>
        </li>
      </ul>
      <!-- submenu -->
    </li>

    <li>
      <a href="#">Contato</a>
    </li>

    <li style="float:right; margin-right: 52%; background-color: black;">

      <input type="text" placeholder="Pesquisar" />
      <button class="btnNav">Pesquisar</button>
    </li>
  </ul>
</div>