
    <div class="container register" style="margin: 1% 10% 0% 10%;">
      <div class="row">
          <div class="col-md-12">
              <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Editar Jogo</a>
                  </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active text-align form-new" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <br>
                      <h1 class="display-1" style="font-size: 2.8em;">Editar Jogo </h1>
                      <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" 
                          type="button" 
                          id="dropdownMenuButton" 
                          data-toggle="dropdown" 
                          aria-haspopup="true" 
                          aria-expanded="false">
                            {{nomeGenero}}
                          </button>
                              <a [routerLink]="['../../../generos/new']"
                              class="btn btn-secondary">
                              Novo Gênero
                              </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a *ngFor="let genero of generos"
                             [(ngModel)]="generoId"
                             class="dropdown-item"
                             (click)="loadGenero(genero.id)"
                             ngDefaultControl> 
                                 {{genero.nome}} 
                              </a>
                          </div>
                        </div>
                      <br>
                      <div style="width: 100%; overflow: hidden;">
                              <form (ngSubmit)="onSubmit()" #newGenero="ngForm">
                                  <div style="width: 300px; float: left;" >
                                      <input   
                                      type="text" 
                                      #name="ngModel" 
                                      [(ngModel)]="model.urlImagem" 
                                      name="urlImagem"
                                      class="form-control" 
                                      placeholder="URL Imagem*"  
                                      style="max-width: 240px; margin: 0px 0px 20px 0px;"
                                      />
                                      <input  
                                      type="text"
                                      #name="ngModel" 
                                      [(ngModel)]="model.nome" 
                                      name="nome"
                                      class="form-control" 
                                      placeholder="Nome*"  
                                      style="max-width: 240px; margin: 0px 0px 20px 0px;"
                                      />
                                      <input   
                                      type="text" 
                                      #name="ngModel" 
                                      [(ngModel)]="model.desenvolvedora" 
                                      name="desenvolvedora"
                                      class="form-control" 
                                      placeholder="Desenvolvedora*"  
                                      style="max-width: 240px; margin: 0px 0px 20px 0px;"
                                      />
                                      <input   
                                      type="text" 
                                      #name="ngModel" 
                                      [(ngModel)]="model.plataforma" 
                                      name="plataforma"
                                      class="form-control" 
                                      placeholder="Plataforma*"  
                                      style="max-width: 240px; margin: 0px 0px 20px 0px;"
                                      />
                                  </div>

                                  <div style="margin-left: 300x;">
                                      <input   
                                      type="text" 
                                      #name="ngModel" 
                                      [(ngModel)]="model.quantJogadores" 
                                      name="quantJogadores"
                                      class="form-control" 
                                      placeholder="Quantidade Jogadores*" 
                                      style="max-width: 240px; margin: 0px 0px 20px 0px;"
                                       />
                                      <input   
                                      type="text" 
                                      #name="ngModel" 
                                      [(ngModel)]="model.compatControle" 
                                      name="compatJogadores" 
                                      class="form-control" 
                                      placeholder="Compatibilidade Controle*" 
                                      style="max-width: 240px; margin: 0px 0px 20px 0px;"
                                      />
                                      <input   
                                      type="date" 
                                      #name="ngModel" 
                                      [(ngModel)]="model.dataLancamento" 
                                      name="dataLancamento"
                                      class="form-control" 
                                      placeholder="Data de Lançamento*"  
                                      style="max-width: 240px; margin: 0px 0px 20px 0px;"
                                      />
                                      <input   
                                      type="number" 
                                      #name="ngModel" 
                                      [(ngModel)]="model.preco" 
                                      name="preco" 
                                      class="form-control"
                                      placeholder="Preço*" 
                                      style="max-width: 240px; margin: 0px 0px 20px 0px;"
                                      min="1" 
                                      max="1000"
                                      step="any"
                                      />
                                  </div>
                                  <br>
                                  <h1 class="display-1" style="font-size: 2.8em;">Descrição</h1>
                                  <br>
                                  <textarea 
                                  #name="ngModel" 
                                  [(ngModel)]="model.descricao" 
                                  name="descricao" 
                                  placeholder="Descrição..."
                                  cols="70" 
                                  rows="5"
                                  >
                                  </textarea>
                                  <br>
                                  <br>
                                  <div class="form-group">
                                    <input type="submit" class="btn btn-primary" />
                                    <button [routerLink]="['../../../jogos/new']" class="btn btn-danger" style="margin-left: 3%;">
                                    Voltar
                                    </button>
                                  </div>
                              </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>